<h1 id="headline_form" class="text-center">Login</h1>
<fieldset>
  <legend>Your Data</legend>
  <%= form_tag sessions_path do %>
  <div class="row">
    <div class="large-6 columns">
      <label>Username
        <%= text_field_tag :username, params[:username] %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Password
        <%= password_field_tag :password %>
      </label>
    </div>
  </div>
  <div class="actions text-center">
  <%= submit_tag "Login", class: "button" %>
  </div>
  <% end %>
</fieldset>






