<div id="wrap">

  <h1 class="text-center">Edit Your Profile</h1>

  <%= render 'form' %>

  <div id="push"></div>
</div>

<div id="footer">
  <li id="footer_li"><%= link_to 'Delete Your Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</div>

