<div id="album_div" class="large-4 columns medium-6 columns panel text-center" data-equalizer-watch>
  <div id="album_image"><%= link_to image_tag(album.cover_art, size: "200x200"), album %></div>
  <h3><%= album.artist %></h3>
  <h5 id="album_h5"><%= album.title %></h5>
</div>
