<div class="large-4 columns medium-6 columns panel text-center" data-equalizer-watch>
  <div><%= link_to image_tag(album.cover_art, size: "200x200"), album %></div>
  <h5><%= album.artist %></h5>
  <p><%= album.title %><p>
</div>
