<div id="section_one" class="row">
<div class="large-5 columns">
<h1 class="text-center" id="home_intro_big">Zaratustra.<span id="fm">fm</span></h1>
<h3 class="text-center" id="home_intro_medium">Good Music. Cool People.</h3>
<h4 class="text-center" id="home_intro_small">Say hello to Zaratustra.fm, the only web app with exquisite music taste.</h4>
<h4 class="text-center" id="home_intro_small">Discover great artists, review your favorite albums, recommend fresh playlists and find likeminded users.</h4>
<h4 class="text-center" id="home_intro_small">Get on board, fetch your Last.fm data and cultivate your music taste.</h4>
<div class="text-center" id="home_buttons_div">
<a href="/login" class="button" id="home_buttons">Login</a>
<a href="/users/new" class="button" id="home_buttons">Sign Up</a>
</div>
</div>
<div class="large-7 columns text-center" id="home_image_div"><%= image_tag "main_logo.png" %></div>
</div>