<h1 id="headline_form" class="text-center">Oops, something was not found.</h1>
<h3 id="headline_form" class="text-center">File not found!</h3>
<div class="text-center"><%= image_tag "error.png" %></div>