<h1 id="headline_form" class="text-center">Oops, something went wrong.</h1>
<h3 id="headline_form" class="text-center">Internal server error!</h3>
<div class="text-center"><%= image_tag "error.png" %></div>