#headline_form {
  margin-top: 20px;
}

#content_browse {
  border: none;
}

#image_browse {
  border: none;
  padding: 0px;
}

#h4_browse {
  padding: 20px 0 25px 0;
}

#create_button {
  margin-top: 20px;
}

#profile {
  padding: 20px 0;
}

#profile_picture {
  margin: 5px 0 10px 0;
}

#profile_h2 {
  font-weight: 600;
}

#profile_h3 {
  color: #37543d;
  font-weight: 600;
  font-style: italic;
}

#album_div {
  background-color: transparent;
  border: none;
}

#album_image {
  margin-bottom: 10px;
}

#album_h5 {
  color: #37543d;
}

#album_tit {
  margin-top: 20px;
}

#album_review {
  margin: 17px 0 17px 0;
}

#counter {
  background-color: #8de9ad;
  color: #333333;
  font-weight: bold;
}

#album_container {
  margin-bottom: 50px;
}

#playlist_container {
  margin-bottom: 50px;
}