<tr>
  <td><%= link_to playlist.name, playlist %></td>
  <td><%= link_to 'Show', playlist %></td>
  <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
  <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
